<!DOCTYPE html>
<html>
  <!--From https://codepen.io/frytyler/pen/EGdtg-->
  <head>
    <meta charset="UTF-8" />
    <title>Salary Package Predict</title>
    <link
      href="https://fonts.googleapis.com/css?family=Pacifico"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Arimo"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Hind:300"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300"
      rel="stylesheet"
      type="text/css"
    />


  </head>

  <body>
    <div class="login">
      <h1>Salary Package for hiring</h1>

      <!-- Main Input For Receiving Query to our ML -->
      <form action="{{ url_for('predict')}}" method="post">
       
       
        <div>
          <label>Number of years of experience : </label>
          <input 
          type="text" 
          name="experience_years" 
          value="2" 
          required="required" 
          />
          <p >Possible inputs => 0  5  2  7  3 10 11</p>
        </div>
       
        <br />
        <div>
          <label>Test score (0-10) : </label>
          <input 
          type="text" 
          name="test_score" 
          value="9"
          required="required" 
          />
          <p >Possible inputs => 8.  6. 10. 9.  7. 7.85714286</p>
        </div>


        <br />
        <div>
          <label>Interview score (0-10) : </label>
          <input
            type="text"
            name="interview_score"
            value="6"
            required="required"
          />
          <p >Possible inputs => 9  6  7 10  8</p>
        </div>
        
        <br />
        <button type="submit" class="btn btn-primary btn-block btn-large">
          Predict
        </button>
      </form>

      
      <br />
      {{ prediction_text }}
    </div>
  </body>
</html>
